2_Python_exercicios/.DS_Store
.DS_Store
get-pip.py
Python3-Mundo03-Gustavo_Guanabara/modulos_e_pacote/uteis/numeros/__pycache__/__init__.cpython-311.pyc
Python3-Mundo03-Gustavo_Guanabara/modulos_e_pacote/uteis/__pycache__/__init__.cpython-311.pyc
Python3-Mundo03-Gustavo_Guanabara/modulos_e_pacote/__pycache__/uteis.cpython-311.pyc
